@import url('https://fonts.googleapis.com/css2?family=Anta&family=Macondo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Satisfy&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *********** nav section *********** */

nav {
    height: 80px;
    background: linear-gradient(to right, #030637, #3C0753, #FFEFFA, #FFEFFA, #FFEFFA, #FDC9ED);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    z-index: 1;
    position: fixed;
}

nav .logo {
    color: aliceblue;
}

nav b {
    color: rgb(165, 122, 42);
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    margin: 0px 5px;
    padding: 10px 12px;
}

nav ul li a {
    text-decoration: none;
    color: #3C0753;
    padding: 8px 30px;
    margin: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background: linear-gradient(to right, #FDC9ED, #910A67, #3C0753);
    border-radius: 50px;
    color: white;
    margin: 10px;
}

nav .menu-bar i {
    color: #3C0753;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

nav .profile {
    display: flex;
    align-items: center;
}

#click {
    display: none;
}


/* *********** cover section *********** */
.cover-image {
    background-image: url('images/coverback.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: -1;
}

.cover-image::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3c075309;
}

.cover-content {
    font-family: 'Macondo';
    margin-top: 30%;
    font-size: 45px !important;
}

.cover-image .btn-style {
    background: linear-gradient(to right, #FDC9ED, #910A67, #3C0753);
    border-radius: 50px;
    border: none;
    padding: 10px 50px;
    margin-top: 100px;
    margin-left: 60%;
    font-family: 'poppins', sans-serif;
    color: #fff;
    font-size: 17px;
}

/* *********************Secondary tab************************** */
.title-style {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #910A67;


}

.nav-link {
    border-bottom: 2px solid transparent;
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #3C0753 !important;
    font-family: 'poppins';
    margin-top: 20px;
    z-index: -1;


}

.nav-link:hover {
    color: #910A67 !important;
   
}

.nav-link.active {
    position: relative;
    color: #910A67
}

.nav-link.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(to right, #FDC9ED, #910A67, #3C0753);
}

.img_s {
    width: 200px !important;

}

.con-style {
    background-color: #f9d5efa3;

}

.cd-style {
    background: #b2b0b14e !important;
    border-radius: 20px 20px 5px 5px !important;
    z-index: 0;
}

.cd-style:hover {
    background: #f9d5efa3 !important;
    border-radius: 20px 20px 5px 5px !important;
    transform: scale(1.1);
    transition: all 0.5s ease;
    opacity: 1.3;
    z-index: 0;
}
