@import url('https://fonts.googleapis.com/css2?family=Anta&family=Macondo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Satisfy&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

